header {
    display: flex;
    justify-content: center;
    background: #fff;
    padding: 10px 0;
    border: solid 1px #dbdbdb;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}

header nav .icon-container {
    display: flex;
    align-items: center;
    padding: 10px;
}

.icon-container .nav-icon {
    margin: 0 10px;
}

.search-bar {
    background: #fafafa;
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    color: #262626;
    outline: 0;
    padding: 6px 10px 6px 10px;
}

.search-bar::placeholder {
    font-size: 12px;
}
