.post-container {
    max-width: 614px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    margin-top: 60px;
    background: #FFFFFF;
}

.post-content {
    max-width: 614px;
}

.post-footer {
    padding: 0 16px;
}
